# Log and data files
/runs
/data/_pilot_up_to_2024_05_26
/data/experiments
/data/imotions
/data/interim
/data/merged
/data/raw
/data/preprocessed
/data/experiments/questionnaires/general_results.csv

# work in progress
notebooks/00_stimuli_function.ipynb
notebooks/03_dataset_size.ipynb
notebooks/04_time_series.ipynb
notebooks/05_preprocess_data.ipynb
src/data/01_statistical_tests.ipynb
src/data/05_preprocess_data Kopie.ipynb
src/data/catboost.ipynb
src/data/test.py
src/models/mlp.py
src/models/model.ipynb
src/models/models.py
src/models/models_2.py
src/questionnaires/archive
src/experiments/oddball.py
/src/experiments/questionnaires/archive

src/experiments/questionnaires/inventory/bdi-ii.yaml
src/experiments/questionnaires/inventory/panas.yaml
src/experiments/questionnaires/inventory/pcs.yaml
src/experiments/questionnaires/inventory/pvaq.yaml
src/experiments/questionnaires/inventory/stai-t-10.yaml

# excluded for now
notebooks/_stuff.ipynb
notebooks/10_skorch_doctor.ipynb
plan.md

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/


# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

.aider*
src/experiments/questionnaires/inventory/phq-15.yaml

