body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}
h1 {
    color: #2ebb46;
}
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
}
fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}