<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <p>{{ instructions|safe }}</p>
        <form action="" method="post">
            {% for question in questions %}
            <div>
                <p><span class="question-id">{{ question.id }}:</span> {{ question.text }}</p>
                {% for option in options %}
                <input type="radio" id="q{{ question.id }}_option{{ option.score }}" name="q{{ question.id }}" value="{{ option.score }}" required>
                <label for="q{{ question.id }}_option{{ option.score }}">{{ option.text }}</label><br> 
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit">Abschicken</button>
        </form>
    </div>
</body>
</html>
