body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 800px;
}

h1 {
    color: #333;
    text-align: center;
}

.instructions {
    background-color: #eef6fd; /* Light background color for emphasis */
    border-left: 4px solid #007bff; /* Add a colored bar to the left for emphasis */
    padding: 15px; /* Add padding for space around the text */
    margin-bottom: 20px; /* Add margin for space below the instructions */
    border-radius: 4px; /* Slightly round the corners of the background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for depth */
}



form {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.question-id {
    font-weight: bold;
}

label {
    margin: 10px 0; /* Add more space around the labels */
    cursor: pointer; /* Indicate that the label is clickable */
}

input[type="radio"] {
    margin-right: 5px; /* Space out the radio button from its label */
    cursor: pointer; /* Change cursor to pointer to indicate clickable area */
    accent-color: #007bff; /* Change the accent color for better visibility */
    transform: scale(1.25); /* Increase the size of the radio buttons */
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px; /* Increase button padding for better accessibility */
    font-size: 16px; /* Increase font size for readability */
    color: white; /* Change text color to white */
    background-color: #007bff; /* Add background color for the button */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius to the button */
    cursor: pointer; /* Indicate that the button is clickable */
}

button:hover {
    background-color: #0056b3; /* Change background color on hover for better user feedback */
}
